@{
    Page.Title = "About Us";
}
<div class="sidebar">
<img src="./Images/kitteh.jpg"></img>
</div>
<div class="main">
    <h1>A little bit about Fourth Coffee</h1>
    <p>
        Sean Carolan isn't just a crazy cat person with an affinity for technology-based head apparel...
        he's also a barista and baker. That's why Sean founded Fourth Coffee in 2010 in order to deliver
        coffee and fresh baked goods right to your door. His innate skills with all things involving butter, 
        flour and sugar put him even more in demand than his programming talents and what started out as a
        way to satisfy his own sweet tooth became all-consuming.  Fourth Coffee is not only a candy-coated 
        wonderland of coffee, pastries, cookies and cakes, it also honors his tech background by employing
        a state of the art online ordering system that makes it easy for anybody with internet access to order
        his all natural, locally-sourced confections and have them delivered to their door within 24 hours.
    </p>
</div>
